@import '../Left/breakpoint.scss';

 
.MContainer{
    background:#e6dace;
    justify-content: center;
display: grid;
@include media('<phone','<600px'){
    justify-content:safe;
    width: 600px;
}
div a{
    color: black;
display: flex;
float: left;
margin-left: 10px;
text-decoration: navajowhite;
padding: 10px;
text-decoration: none;

&:hover{
    color: blue;
}
}
h1{
    justify-content: center;
display: flex;
font-size: 48px;
letter-spacing: 2px;
@include media('>phone','<600px'){
    font-size: 37px;
    margin: 5px;
}
}
h5{
    font-size: 20px;
letter-spacing: 1px;
font-family: ariel;
@include media('>phone','<600px'){
    font-size: 17px;
    padding: 0px;
    margin: 3px;
}
}
}
.Heading{
    width: 40%; 
    position: relative;
top: 10%;
@include media('<phone','<600px'){
    width: 30%;
}
h1{
    font-size: 26px;
color: blue;
padding: 0;
margin: 0;
display: block;
}
}
.Hdetail{
    width: 50%;
    position: relative;
    top: 10%;
}
